<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <mat-card class="calendar-card mt-2" *ngIf="!availableSlots.length">
                <mat-card-header>
                    <p>Booking Calendar</p>
                </mat-card-header>
                <mat-card-content>
                    <mat-calendar [(selected)]="selectedDate" [minDate]="today">
                    </mat-calendar>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" (click)="viewAvailableSlots()" [disabled]="!selectedDate">
                        View Available Slots
                    </button>
                </mat-card-actions>
            </mat-card>

            <div class="centered-container">
                <mat-card class="centered-card mt-2" *ngIf="availableSlots.length > 0">
                  <mat-card-header>
                    <p>Available Time Slots for {{ selectedDate | date }}</p>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="time-slots-container mt-5">
                      <div class="time-slot" *ngFor="let slot of availableSlots" (click)="selectTimeSlot(slot)" [class.selected]="selectedSlot === slot">
                        <p class="slot-time">{{ slot.startTime }} - {{ slot.endTime }}</p>
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions class="mt-5">
                    <button mat-button color="primary" (click)="bookTimeSlot()" [disabled]="!selectedSlot">
                      Book Time Slot
                    </button>
                    <button mat-button color="primary" (click)="changeDate()">Change Date</button>
                  </mat-card-actions>
                </mat-card>
              </div>                      
        </div>
    </div>
</div>