.main-card {
    max-width: 1200px; /* Sets the maximum width for the main card */
    width: 100%; /* Full width for responsiveness */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* More pronounced shadow for the main card */
  }
  
  .custom-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: rgb(237, 237, 221);
  }
  
  .custom-card:hover {
    transform: translateY(-10px);
  }
  
  .mat-card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .title{
    font-size: x-large;
    font-weight: 500;
  }
  
  