<div class="container mt-5" *ngIf="bookedSlots && bookedSlots.length > 0">
    <mat-card class="booked-slots-card p-3 shadow-lg">
        <p class="text-center mb-4 fw-bold fs-5">Your Booked Slots</p>

        <div class="mt-2">
            <div class="row">
                <div *ngFor="let slot of bookedSlots" class="col-md-4 mb-3">
                    <mat-card class="slot-card p-3 shadow-sm">
                        <mat-card-content>
                            <p class="text-center fw-bold fs-6">Slot Details</p>
                            <p class="mt-3"><strong>Booking Date:</strong> {{ slot.bookingDate | date:'fullDate'}}</p>
                            <p><strong>Time:</strong> {{ slot.timeSlotId.startTime }} - {{ slot.endTime }}
                            </p>
                            <p><strong>Invitee:</strong> {{ slot.invitee }}</p>
                            <p><strong>Booked Date:</strong> {{ slot.bookedDate | date:'fullDate' }}</p>
                            <p>
                                <strong>Status:</strong>
                                <span
                                    [ngClass]="{'text-success': slot.status === 'confirmed', 'text-danger': slot.status !== 'confirmed'}">
                                    {{ slot.status | titlecase }}
                                </span>
                            </p>
                        </mat-card-content>
                        <mat-card-actions class="d-flex justify-content-start">
                            <button mat-stroked-button color="warn" (click)="cancelBooking(slot._id)"
                                [disabled]="slot.status==='canceled'">Cancel</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        
    </mat-card>
    <br>
</div>