<div class="container mt-2 d-flex justify-content-center">
    <mat-card class="shadow-lg p-4 main-card mb-2">
      <div class="text-center mb-4">
        <p class="title"><strong>Your Booked Slots</strong></p>
      </div>
  
      <div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let booking of bookedSlots">
            <mat-card class="shadow-sm h-100 custom-card mt-2" *ngIf="bookedSlots.length > 0">
              <mat-card-header>
                <p>Time Slot</p>
              </mat-card-header>
              <mat-card-content>
                <p>
                    <strong>Date:</strong> {{ booking.timeSlotId.date |  date: 'yyyy-MM-dd' }}
                  </p>
                <p>
                  <strong>Time Slot:</strong> {{ booking.timeSlotId.startTime }} - {{ booking.timeSlotId.endTime }}
                </p>
                <p>
                  <strong>Status:</strong>
                  <span
                    [ngClass]="{
                      'text-success': booking.status === 'confirmed',
                      'text-danger': booking.status === 'canceled'
                    }"
                  >
                    {{ booking.status }}
                  </span>
                </p>
                <p>
                  <strong>Booking Date:</strong> {{ booking.bookingDate | date: 'yyyy-MM-dd' }}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button class="w-100" color="warn" (click)="cancelBooking(booking._id)" [disabled]="booking.status === 'canceled'">Cancel Slot</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
      <div *ngIf="bookedSlots.length === 0" class="text-center mt-5">
        <p class="alert alert-warning">No booked slots found.</p>
    </div>
    </mat-card>
  </div>
  